/*стили для всех постов которые будут отображаться в ленте*/
.post {
  padding: 12px 0; /*отступ сверху и снизу*/
  border-bottom: 1px solid #eee; /*линия снизу*/
  text-align: center; /*центрирование текста*/
}

/*это применяется ко всем заголовкам постов*/
.post h2 {
  font-size: 1.1rem; /*размер шрифта*/
  margin: 0; /*отступ сверху и снизу*/
}

/*это применяется ко всем ссылкам постов*/
.post-link {
  text-decoration: none; /*убирает подчеркивание ссылки*/
}

.post-link:hover {
  text-decoration: underline; /*подчеркивает ссылку при наведении*/
}

.post-meta {
  font-size: 0.8rem; /*размер шрифта*/
  color: #666; /*цвет текста*/
}
